language: scala
scala:
  - 2.12.8
jdk:
  - oraclejdk8
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
before_services:
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin
  - eval $(aws ecr get-login --no-include-email --region us-east-1)
services:
  - docker
before_script:
  - docker run -d -p 127.0.0.1:6019:5432 479720515435.dkr.ecr.us-east-1.amazonaws.com/registry-postgresql:latest
script:
  - sbt ++$TRAVIS_SCALA_VERSION clean compile test
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
branches:
  only:
    - master
