nameOverride: "registry"
fullnameOverride: "registry"

service:
  startupHealthcheckEndpoint: /_internal_/startup
  livenessHealthcheckEndpoint: /_internal_/live
  readinessHealthcheckEndpoint: /_internal_/ready
  readinessFailureThreshold: 4
  readinessPeriodSeconds: 3
  readinessTimeoutSeconds: 3
   
team: "foundation"

image:
  repository: flowcommerce/registry

resources:
  limits:
    memory: "1000Mi"
  requests:
    memory: "1000Mi"
    cpu: .05

jvmOpts:
   memory: 500m
   garbageCollector: ShenandoahGC

deployments:
  live:
    minReplicas: 1
    maxReplicas: 1
    maxUnavailable: 0
    AWSRole: "arn:aws:iam::479720515435:role/flow-prod-eks-production-role"
    rateLimit:
      perPod:
      - name: local-ratelimit
        shadow_enabled: true
        filterEnforcedPercentage: "100"
        All:
          maxTokens: "200"
          maxTokensPerFill: "200"
          tokensFillInterval: "1s"

nodeSelector:
  karpenter/role: workers
tolerations:
  - key: "role"
    operator: "Equal"
    value: "workers"
    effect: "NoSchedule"
topologySpreadConstraints:
  schedule: "DoNotSchedule"

rollout: 
  enabled: true
  defaultAnalysis:
    errorRate:
      successCondition: default(result, 0) < 0.05
    p95ResponseTime:
      successCondition: default(result, 0) < 0.1

datadogMonitors:
- type: trace.akka_http.request.errors-sum
  alert:
    notificationTarget: '@slack-team-foundation-notifications'
    alert:
      threshold: '0.9'
    warning:
      threshold: '0.5'
- type: trace.akka_http.request-p95
  alert:
    notificationTarget: '@slack-team-foundation-notifications'
- type: missing-metrics
- type: argo-rollout-monitor
  alert:
    threshold: 1
  newGroupDelay: 60
  evaluationDelay: 60
  notifyNoData: false
  renotifyInterval: 180
  renotifyStatuses: 
    - "alert"
  requireFullWindow: false
