nameOverride: ""
fullnameOverride: ""

service:
  port: 9000

iamRole: arn:aws:iam::479720515435:role/ecsInstanceRole
image:
  repository: flowcommerce/registry
  pullPolicy: IfNotPresent
resources:
  limits:
    memory: "800Mi"
    cpu: 1
  requests:
    memory: "800Mi"
    cpu: .05

jvmMemory: 500

nodeSelector: {}
affinity: {}
tolerations: {}

ingress:
  enabled: true
  gateways:
    - key: flow-io
      tld: api.flow.io
      hosts:
        - registry.api.flow.io
    - key: flow-pub
      tld: flo.pub
      hosts:
        - registry.flo.pub

services:
  live:
    hosts:
      - registry
      - registry.api.flow.io
      - registry.flo.pub
    gateways:
      - mesh
      - registry-flow-io
      - registry-flow-pub
    stages:
      - deployment: live
        weight: 100

deployments:
  live:
    minReplicas: 1
    maxReplicas: 1
    maxUnavailable: 1
    disruptionBudgetEnabled: true
    targetCPUUtilizationPercentage: 80
    version: master-1