<!--
    Logging configuration for testing, no JSON
    https://www.playframework.com/documentation/latest/SettingsLogger
-->
<configuration>

  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- We use short exception stack trace logging to limit output for CI. -->
      <!-- Change to full if you need to do further debugging, but never commit that. -->
      <pattern>%d{HH:mm:ss} %coloredLevel %logger{15} - %message%n%ex{short}</pattern>
    </encoder>
  </appender>

  <logger name="play" level="WARN" />
  <logger name="akka" level="WARN" />
  <logger name="application" level="WARN" />
  <logger name="com.amazonaws.auth.profile.internal.BasicProfileConfigLoader" level="OFF" />

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
