{{- $fullName := include "deploy.fullname" . -}}
{{- range $stage, $deployment := index .Values "deployments" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $fullName }}-{{ $stage }}
  labels:
    helm.sh/chart: {{ include "deploy.chart" $ }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
    app.kubernetes.io/managed-by: {{ $.Release.Service }}
    app.kubernetes.io/name: {{ include "deploy.name" $ }}
    app.kubernetes.io/stage: {{ $stage }}
spec:
  replicas: {{ $deployment.minReplicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "deploy.name" $ }}
      app.kubernetes.io/instance: {{ $.Release.Name }}
      app.kubernetes.io/stage: {{ $stage }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "deploy.name" $ }}
        app.kubernetes.io/instance: {{ $.Release.Name }}
        app.kubernetes.io/stage: {{ $stage }}
      annotations:
        iam.amazonaws.com/role: {{ $.Values.iamRole }}
        sumologic.com/sourceCategory: {{ $fullName }}_docker_logs
    spec:
      containers:
        - name: {{ $.Chart.Name }}
          image: "{{ $.Values.image.repository }}:{{ $deployment.version }}"
          imagePullPolicy: {{ $.Values.image.pullPolicy }}
          env:
            - name: JAVA_OPTS
              value: -Xms500m -Xmx500m -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/opt
          args: ["production"]
          env:
            - name: MEM_TOTAL_KB
              valueFrom:
                resourceFieldRef:
                  resource: limits.memory
                  divisor: 1Ki
            - name: JAVA_OPTS
              value: "$(java-dynamic-memory-opts 80)"
          ports:
            - name: http
              containerPort: {{ $.Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /_internal_/healthcheck
              port: http
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /_internal_/healthcheck
              port: http
            initialDelaySeconds: 20
            failureThreshold: 10
            periodSeconds: 5
            timeoutSeconds: 5
          resources:
{{ toYaml $.Values.resources | indent 12 }}
    {{- with $.Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
      imagePullSecrets:
        - name: flow-docker-hub
    {{- with $.Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with $.Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
{{- end -}}
